<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="login.component.css">

<body>
    <div class="card mx-auto shadow p-3 mb-5 bg-white rounded" style="width: 30%; margin-top: 12%;">
    <article class="card-body" style="border-radius: 35px;">
    <h1 class="card-title mb-4 mt-1 text-center" style="color: #506E9C;">Login</h1>
    <form>
        <div class="form-group">
            <label>Email</label>
            <input name="" class="form-control" placeholder="john@doe.com" type="email">
        </div>
        <div class="form-group"> 
            <label>Your password</label>
            <input class="form-control" placeholder="******" type="password">
        </div>
        <div class="form-group"> 
        <div class="checkbox">
          <label> <input type="checkbox"> Remember Me </label>
          <a class="float-right" href="#">Forgot Password?</a>
        </div> 
        </div>  
        <div class="text-center">
            <button type="submit" class="btn w-100 btn-logout fw-bold"> Login  </button>
        </div>                                                           
    </form>
    </article>
    </div>
</body>