div {
  width: auto;
}

div.container-fluid {
  padding: 4px 10px;
  margin: 3%;
  box-sizing: border-box;
  font-family: var(--bs-body-font-family);
}

button.view-order-btn {
  background-color: var(--secondary);
  font-weight: 550;
}

td.delivered-badge {
  background-color: #c9f6ce;
  color: #448007;
}

td.inprogress-badge {
  background-color: #fdeccc;
  color: #965f17;
}

td.dispatched-badge {
  background-color: #cfe0fc;
  color: #094cc4;
}

thead.schema-names {
  background-color: #f3f6f9;
}

.action-body-container {
  margin-top: -3%;
}

p.orders-title {
  font-weight: 600;
  margin-top: 6%;
}

p.recent-orders {
  font-weight: 500;
  margin-top: 5vh;
}

table.orders-table {
  width: 70%;
}

div.section-header-container {
  width: 100%;
}

div.branch-user {
  display: flex;
  padding: 0;
  float: right;
  margin-top: 2vw;
}

div.branch-user div {
  padding: 2vw;
}

div.username,
div.branch {
  display: flex;
}

img.user-icon {
  height: 4vh;
}

img.location-icon {
  height: 3vh;
}

.badge {
  margin-top: 10px;
  display: block !important;
}
