div.container-fluid {
  padding: 4px 10px;
  margin: 3%;
  box-sizing: border-box;
  font-family: var(--bs-body-font-family);
  /* margin-left: 20%; */
}

button.view-order-btn {
  background-color: var(--secondary);
  font-weight: 550;
}

td.delivered-badge {
  background-color: #c9f6ce;
  color: #448007;
}

td.inprogress-badge {
  background-color: #fdeccc;
  color: #965f17;
}

td.dispatched-badge {
  background-color: #cfe0fc;
  color: #094cc4;
}

thead.schema-names {
  background-color: #f3f6f9;
  /* border-radius: 30px !important; */
}

p.orders-title {
  font-weight: 600;
}

p.recent-orders {
  font-weight: 500;
  margin-top: 5vh;
}

table.orders-table {
  width: 70%;
}

div.branch-user {
  display: flex;
  padding: 0;
}

.username, .branch {
  display: flex;
}

img.user-icon {
  height: 4vh;
}

img.location-icon {
  height: 4vh;
}

p.user-name {
  margin-left: 4%;
}