<nav class="navbar navbar-expand-md navbar-light bg-transparent">
    <div class="container-fluid">
        <div class="d-flex ms-auto align-items-center pe-0">
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse bg-transparent" id="navbarSupportedContent">
            <ul class="navbar-nav mt-3 mt-lg-0 text-white ms-auto">

                <li class="nav-item pe-3">
                    <div class="d-flex mt-2 h-100 text-dark">
                        <span class="material-icons">location_on</span>
                        <h5 class="ps-2 mb-0">
                            Branch Name
                        </h5>
                    </div>
                </li>

                <li class="nav-item px-2 mb-3 mb-md-0">

                    <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://ui-avatars.com/api/?name=John+Doe&amp;background=49c5b6&amp;color=fff" alt=""
                            class="avatar rounded-circle img-30">
                        <span class="ps-2 fw-bold">John Doe</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-end bg-primary" aria-labelledby="navbarDropdown"
                        data-bs-popper="none">
                        <a class="dropdown-item bg-primary text-white" routerLink="/">Profile</a>
                        <a class="dropdown-item bg-primary text-white d-flex align-item-center" routerLink="/">
                            Logout
                            <span class="material-icons fs-4 text-white ps-2">logout</span>
                        </a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>