
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-4 mb-4">Users</h1>
        <button style="background: var(--secondary);font-weight: bolder;" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Create User</button>
    </div>

    <div *ngIf="success" class="alert alert-success alert-dismissible fade show" id="success-alert" role="alert">
      {{success}}
      <button type="button" class="btn-close no-outline" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
    <div class="container-fluid table-responsive">
        <table class="table table-borderless text-center orders-table">
            <thead class="schema-names">
                <tr style="background: #F3F6F9;">
                    <th scope="col" class="fw-bold">Id</th>
                    <th scope="col" class="fw-bold">Full Name</th>
                    <th scope="col" class="fw-bold">Email</th>
                    <th scope="col" class="fw-bold">Date Joined</th>
                    <th scope="col" class="fw-bold">Roles</th>
                </tr>
            </thead>
            <tbody>
                <ng-container>
                    <tr *ngFor="let user of users">
                        <th scope="row">{{ user.id }}</th>
                        <td class="fw-normal">{{ user.full_name}}</td>
                        <td class="fw-normal">{{ user.email }}</td>
                        <td class="fw-normal">{{ user.created_at | date }}</td>
                        <td class="fw-normal">{{ userGroups(user.groups) }}</td> 
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

<!-- USER MODAL -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Create User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="">
              <label for="fullname" class="form-label">Full Name</label>
              <input type="text" name="fullname" [(ngModel)]="fullname" class="form-control" placeholder="full name...">
              <label for="email" class="form-label">Email</label>
              <input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="email...">
              <label for="password" class="form-label">Password</label>
              <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="password...">
              <label for="role" class="form-label">Role</label>
              <select name="role" [(ngModel)]="role" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option [value]="Role.Manager">Manager</option>
                <option [value]="Role.Staff">Staff</option>
                <option [value]="Role.Messenger">Messenger</option>
              </select>
          </form>
        </div>
        <div class="modal-footer">
          <button style="background: var(--secondary);font-weight: bolder;" type="button" class="btn" data-bs-dismiss="modal">Close</button>
          <button (click)="createUser()" style="background: var(--primary);font-weight: bolder;color: white;" type="submit" value="submit" class="btn mt-2" data-bs-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
  </div>