<div class="action-body-container">
    <div class="container-fluid titles-headings">
        <p class="h1 orders-title">Batches</p>
    </div>

    <div class="text-end pe-3">
        <button type="button" class="btn createBatchBtn" data-bs-toggle="modal" data-bs-target="#exampleModal"
            *appUserRole="[ Role.Manager, Role.Staff ]">
            Create Batch
        </button>
    </div>

    <div class="container-fluid table-responsive">
        <table class="table table-borderless text-center orders-table">
            <thead class="schema-names">
                <tr>
                    <th scope="col" class="fw-normal">Batch Number</th>
                    <th scope="col" class="fw-normal">Total Orders</th>
                    <th scope="col" class="fw-normal">Messenger</th>
                    <th scope="col" class="fw-normal">Branch From</th>
                    <th scope="col" class="fw-normal">Branch To</th>
                    <th scope="col" class="fw-normal">Departure</th>
                    <th scope="col" class="fw-normal">Arrival</th>
                    <th scope="col" class="fw-normal">Branch Staff</th>
                    <th scope="col" class="fw-normal">Status</th>
                    <th scope="col" class="fw-normal"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!loading; else other">
                    <tr *ngFor="let batch of batches">
                        <th scope="row">{{batch.batch_number}}</th>
                        <td class="fw-bold">{{batch.batch_orders?.length ?? 0}}</td>
                        <td class="fw-bold">{{batch.messenger?.full_name}}</td>
                        <td class="fw-bold">{{batch.branch_from?.branch_name}}</td>
                        <td class="fw-bold">{{batch.branch_to?.branch_name}}</td>
                        <td class="fw-bold">{{batch.departure_time|date:'HH:mm'}}</td>
                        <td class="fw-bold">{{batch.delivery_time|date:'HH:mm'}}</td>
                        <td class="fw-bold">{{batch.branch_staff?.full_name}}</td>
                        <td class="badge rounded-pill d-inline delivered" [class]="batch_statuses[batch.status]?.class">
                            {{batch_statuses[batch.status]?.title}}</td>
                        <td>
                            <button type="submit" data-bs-toggle="modal" data-bs-target="#batchDetailModal"
                                id="viewDetailBtn" (click)="fetchSingleBatch(batch.id)" class="btn view-order-btn mb-2">
                                View Batch
                            </button>
                            <div *ngIf="batch.status === Status.dispatched">
                                <button type="submit" data-bs-toggle="modal" title="Mark batch as delivered"
                                    *appUserRole="[ Role.Manager ]" id="viewDetailBtn" class="btn dispatched-badge">
                                    Confirm Delivery
                                </button>
                            </div>
                            <div *ngIf="batch.status === Status.dispatched">
                                <button type="submit" data-bs-toggle="modal" title="Mark batch as delivered"
                                    *appUserRole="[ Role.Messenger ]" id="viewDetailBtn" class="btn dispatched-badge">
                                    Delivered
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <ng-template #other>
                    <tr>
                        <td class="text-center" colspan="11">
                            No batches yet
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>

    <!-- Modal for displaying single batch details -->
    <div class="modal fade wholeModal" id="batchDetailModal" tabindex="-1" aria-labelledby="batchDetailModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content batchDetailModal">
                <div class="modal-header">
                    <h5 class="modal-title" id="batchDetailModalLabel">Batch Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <ng-container *ngIf="!singleBatchLoading; else other">
                    <div class="modal-body">
                        <label for="" class="fw-bold">Batch Number</label>
                        <p>{{batch.batch_number}}</p>
                        <p class="fw-bold">Batch Order(s)</p>
                        <ol type="number">
                            <div *ngFor="let orders of batch.batch_orders">
                                <li>
                                    {{orders?.order_number}}
                                </li>
                            </div>
                        </ol>
                        <label for="" class="fw-bold">Messenger</label>
                        <p class="">{{batch.messenger?.full_name}}</p>
                        <label for="" class="fw-bold">Branch From</label>
                        <p>{{batch.branch_from?.branch_name}},<br>{{batch.branch_from?.branch_location}}</p>
                        <label for="" class="fw-bold">Branch To</label>
                        <p>{{batch.branch_to?.branch_name}},<br>{{batch.branch_to?.branch_location}}</p>
                        <label for="" class="fw-bold">Departure Time</label>
                        <p>{{batch.departure_time|date:'EEEE, MMMM d, y h:mm a'}}</p>
                        <label for="" class="fw-bold">Delivery Time</label>
                        <p>{{batch.delivery_time|date:'EEEE, MMMM d, y h:mm a'}}</p>
                        <label for="" class="fw-bold">Branch Staff</label>
                        <p>{{batch.branch_staff?.full_name}}</p>
                        <label for="" class="fw-bold">Status</label>
                        <p>{{batch.status}}</p>
                    </div>
                </ng-container>
                <ng-template #other>
                    <tr>
                        <td class="text-center" colspan="11">
                            Loading Batch
                        </td>
                    </tr>
                </ng-template>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary closeModalBtn" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<app-create-batch (addedBatchEmitter)="addBatch($event)"></app-create-batch>