<div class="action-body-container">
    <div class="container-fluid titles-headings">
        <p class="h1 orders-title">Batches</p>
    </div>

    <div class="text-end pe-3">
        <button type="button" class="btn createBatchBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Batch
        </button>
    </div>

    <div class="container-fluid table-responsive">
        <table class="table table-borderless text-center orders-table">
            <thead class="schema-names">
                <tr>
                    <th scope="col" class="fw-normal">Batch Number</th>
                    <th scope="col" class="fw-normal">Total Orders</th>
                    <th scope="col" class="fw-normal">Messenger</th>
                    <th scope="col" class="fw-normal">Branch From</th>
                    <th scope="col" class="fw-normal">Branch To</th>
                    <th scope="col" class="fw-normal">Departure</th>
                    <th scope="col" class="fw-normal">Arrival</th>
                    <th scope="col" class="fw-normal">Branch Staff</th>
                    <th scope="col" class="fw-normal">Status</th>
                    <th scope="col" class="fw-normal"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!loading; else other">
                    <tr *ngFor="let batch of batches">
                        <th scope="row">{{batch.batch_number}}</th>
                        <td class="fw-bold">{{batch.batch_orders?.length ?? 0}}</td>
                        <td class="fw-bold">{{batch.messenger?.full_name}}</td>
                        <td class="fw-bold">{{batch.branch_from?.branch_name}}</td>
                        <td class="fw-bold">{{batch.branch_to?.branch_name}}</td>
                        <td class="fw-bold">{{batch.departure_time|date:'HH:mm'}}</td>
                        <td class="fw-bold">{{batch.delivery_time|date:'HH:mm'}}</td>
                        <td class="fw-bold">{{batch.branch_staff?.full_name}}</td>
                        <td class="badge rounded-pill d-inline delivered" [class]="batch_statuses[batch.status]?.class">{{batch_statuses[batch.status]?.title}}</td>
                        <td><button type="submit" class="btn view-order-btn">View Batch</button></td>
                    </tr>
                </ng-container>
                <ng-template #other>
                    <tr>
                        <td class="text-center" colspan="11">
                            No batches yet
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </table>
    </div>
</div>
<app-create-batch (addedBatchEmitter)="addBatch($event)"></app-create-batch>