<div *ngFor="let summary of summaries">
    <div class="row d-flex justify-content-around bd-highlight mb-3 text-center d-grid gap-5 pt-5 mx-0">
        <div class="row sm-3 shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
            <img src="assets/rider.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="font-weight-bold">{{summary.batches}} Total Orders</h5>
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
            <img src="assets/rider.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="font-weight-bold">{{summary.dispatched}} Dispatched</h5>
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 15rem;">
            <img src="assets/rider.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="font-weight-bold">{{summary.delivered}} Delivered</h5>
            </div>
        </div>
    </div>
    <br>
    <!-- SECOND CARDS -->
    <div class="row d-flex justify-content-evenly bd-highlight mb-2 text-center d-grid gap-5 d-none">
        <div class="row sm-2 shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
            <img src="assets/rider.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="font-weight-bold">20 Deliveries</h5>
            </div>
        </div>
        <div class="shadow p-3 mb-5 bg-white rounded" style="width: 20rem;">
            <img src="assets/rider.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="font-weight-bold">20 Deliveries</h5>
            </div>
        </div>
    </div>
</div>

<app-orders-table></app-orders-table>